{% extends 'djfrontend/skeleton.html' %}
{% load staticfiles %}
{% load djfrontend %}
{% load itmemory_tags %}

{% block title %}Gestione assistenza tecnica{% endblock title %}
{% block body_id %}mysite_body{% endblock body_id %}
{% block head_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}"/>
{% djfrontend_jquery %}
{% djfrontend_normalize %}
{% block custom_page_scripts %}
{% endblock custom_page_scripts %}
{% endblock head_css %}
{% block body_content %}
{% block nav_bar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!--<div class="container">-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img style="max-width:180px; margin-top: -15px;" src="{% static "itmemory.png" %}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% active_page request 'home' %}"><a href="/">Home</a></li>
                <li class="{% active_page request 'objects' %}"><a href="{% url 'objects:index'  %}">Hardware</a></li>
                <li class="{% active_page request 'customers' %}"><a href="{% url 'customers:index'  %}">Clienti</a></li>
                <li><a href="{% url 'admin:index'  %}">Amministrazione</a></li>
            </ul>
            {% block toggle_login %}
            {% include "toggle_login.html" %}
            {% endblock %}
        </div>
        <!--/.navbar-collapse -->
    <!--</div>-->
</nav>
{% endblock nav_bar %}
{% block body_container %}
<div class="container-fluid">
    {% block body_contents %}
    {% endblock body_contents %}
</div>
<div>
    <br /><br />
</div>
{% endblock body_container %}

{% endblock body_content %}