{% extends 'base.html' %}
{% load tasks_calendar %}

{% block body_contents %}
<div class="row">
    <div class="round-box col-md-4">
        <h3>Operazioni da fare</h3>
        {% include "ittasks/tasklist.html" with tasks_toread=openedtasks %}
    </div>
    <div class="round-box col-md-4">
        <h3>Operazioni assegnate a te</h3>
        {% include "ittasks/tasklist.html" with tasks_toread=usertasks %}
    </div>
    <div class="round-box col-md-4">
        <h3>Ultimi report</h3>
        {% include "ittasks/tasklist.html" with tasks_toread=recentclosedtasks %}
    </div>
    <div class="round-box col-md-12">
        <h3>Calendario</h3>
        {% taskcalendar %}
        {% ctl_calendar %}
    </div>
</div>
{% endblock body_contents %}