{% extends 'base.html' %}
{% load tasks_calendar %}
{% load itmemory_tags %}
{% load hpilo_tags %}

{% block body_contents %}
    <h2>Dashboard</h2>
<div class="row">
    <div class="row col-md-12">
    <div class="row">
        {% iloerrors %}
    </div>
    <div class="row">
        {% for stat in stats %}
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-{{ stat.color }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="fa-3x">{% css_icon stat.icon %}</span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ stat.value}}</div>
                            </div>
                            <div class="col-xs-12">
                                <div>{{ stat.label }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Operazioni da fare</div>
                <div class="panel-body">
                    {% include "ittasks/tasklist.html" with tasks_toread=openedtasks %}
                </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Operazioni assegnate a te</div>
                <div class="panel-body">
                    {% include "ittasks/tasklist.html" with tasks_toread=usertasks %}
                    </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Ultimi report</div>
            <div class="panel-body">
            {% include "ittasks/tasklist.html" with tasks_toread=recentclosedtasks %}
            </div>
        </div>
        <div class="round-box col-md-12">
            <h3>Calendario</h3>
            {% taskcalendar %}
            {% ctl_calendar %}
        </div>
    </div>
</div>
{% endblock body_contents %}