{% extends 'objects/index.html' %}
{% from objects.models import Setting %]

{% block body_contents %}
<div class="row">
    <div class="row col-lg-9">
        <div class="col-lg-6 round-box">
            <h3>{{ obj.name }}</h3>

            <p><code>S/N: {{ obj.serial }}</code></p>

            <p><code>P/N: {{ obj.item }}</code></p>

            <p><code>IP: {{ obj.primary_ip }}</code></p>
        </div>
        <div class="row col-lg-3 round-box">
            <h3>Attività</h3>

            <div class="bg-info" style="min-height:450px;">
                <h4>Da eseguire</h4>
                {% include "ittasks/tasklist.html" with tasks_toread=openedtasks %}
                <hr/>
                <h4>Eseguite</h4>
                {% include "ittasks/tasklist.html" with tasks_toread=closedtasks %}

            </div>
        </div>

    </div>
    {% endblock body_contents %}