{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Lista Clienti{% endblock title %}
{% block body_contents %}
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th colspan="2" scope="row">Oggetto</th>
            <th>Nome</th>
            <th>Seriale</th>
        </tr>
        </thead>
        <tbody>
    {% for obj in object_list %}
    <tr>
        <td scope="row">
            <a class="btn btn-default" href="{% url 'customers:detail' obj.id %}" role="button">Apri</a>
        </td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.telephone }}</td>
        <td>{{ obj.email }}</td>
    </tr>
    {% empty %}
    <tr>
        <td scope="row" colspan="4">
            Nessun risultato
        </td>
    </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body_contents %}


