{% extends 'objects/index.html' %}
{% from objects.models import Setting %]
{% load itmemory_tags %}
{% block body_contents %}
<div class="row">
    <div class="row col-lg-12">
        <div class="col-lg-8 round-box">
            <div class="col-lg-12 round-box">
                <h3>
                    {{ obj.name }}
                    <a target="_blank" class="btn btn-info btn-xs pull-right" href="{% url 'admin:customers_worksite_add'  %}?customer={{ obj.id }}">
                        {% css_icon "plus" %} Aggiungi sede
                    </a>
                </h3>

                <p><strong>Indirizzo:</strong> {{ obj.address }}</p>

                <p><strong>Città:</strong> {{ obj.city }}</p>

                <p><strong>Telefono:</strong> {{ obj.telephone }}</p>

                <p><strong>Persona di riferimento:</strong> {{ obj.reference_person }}</p>
            </div>
            {% for branch in obj.Worksites.all %}
            <div class="col-lg-offset-1 col-lg-11 round-box">
                <h4>
                    <a name="worksite{{ branch.it }}"></a>{{ branch.name }}
                    <a target="_blank" class="btn btn-info btn-xs pull-right" href="{% url 'admin:objects_hardwareobject_add'  %}?worksite={{ branch.id }}">
                        {% css_icon "plus" %} Aggiungi dispositivo
                    </a>
                </h4>

                <div class="col-lg-6">
                    <p><strong>Indirizzo:</strong> {{ branch.address }}</p>

                    <p><strong>Città:</strong> {{ branch.city }}</p>

                    <p><strong>Telefono:</strong> {{ branch.telephone }}</p>

                    <p><strong>Persona di riferimento:</strong> {{ branch.reference_person }}</p>
                </div>
                <div class="col-lg-6">
                    <table class="table">
                        {% for hwobj in branch.hardwareobjects.all %}
                        <tr>
                            <td>
                                {% css_icon "hdd" %}
                                <a title="{{ hwobj.location }}"
                                   href="{% url 'objects:detail' hwobj.id %}" >
                                    {{ hwobj.name }}
                                </a>
                            </td>
                            <td>
                                {{ hwobj.serial }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">
                                Nessun hardware
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4 round-box">
            <h3>Attivit&agrave;</h3>

            <p>
                <h5>Da eseguire</h5>
                {% include "ittasks/tasklist.html" with tasks_toread=openedtasks %}
                <hr/>
                <h5>Eseguite</h5>
                {% include "ittasks/tasklist.html" with tasks_toread=closedtasks %}

            </p>
        </div>

    </div>
    {% endblock body_contents %}