{% extends 'objects/index.html' %}
{% from objects.models import Setting %]
{% load itmemory_tags %}
{% block body_contents %}
<div class="row">
    <div class="row col-lg-9">
        <div class="col-lg-9 round-box">
            <div class="col-lg-12 round-box">
                <h3>{{ obj.name }}</h3>

                <p><strong>Indirizzo:</strong> {{ obj.address }}</p>

                <p><strong>Città:</strong> {{ obj.city }}</p>

                <p><strong>Telefono:</strong> {{ obj.telephone }}</p>

                <p><strong>Persona di riferimento:</strong> {{ obj.reference_person }}</p>
            </div>
            {% for branch in obj.Worksites.all %}
            <div class="col-lg-12 round-box">
                <h4>{{ branch.name }}</h4>

                <div class="col-lg-6">
                    <p><strong>Indirizzo:</strong> {{ branch.address }}</p>

                    <p><strong>Città:</strong> {{ branch.city }}</p>

                    <p><strong>Telefono:</strong> {{ branch.telephone }}</p>

                    <p><strong>Persona di riferimento:</strong> {{ branch.reference_person }}</p>
                </div>
                <div class="col-lg-6">
                    <table class="table">
                        {% for hwobj in branch.hardwareobjects.all %}
                        <tr>
                            <td>
                                {% css_icon "hdd" %}<a title="{{ hwobj.location }}"
                                                       href="{% url 'objects:detail' hwobj.id %}" target="_blank">{{
                                hwobj.name }}</a>
                            </td>
                            <td>
                                {{ hwobj.serial }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">
                                Nessun hardware
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row col-lg-3 round-box">
            <h3>Attivit&agrave;</h3>

            <div class="bg-info" style="min-height:450px;">
                <h4>Da eseguire</h4>
                {% include "ittasks/tasklist.html" with tasks_toread=openedtasks %}
                <hr/>
                <h4>Eseguite</h4>
                {% include "ittasks/tasklist.html" with tasks_toread=closedtasks %}

            </div>
        </div>

    </div>
    {% endblock body_contents %}