{% load hpilo_tags %}
{% load itmemory_tags %}
{% load humanize %}

{% for obj in objs %}
    <div style="margin-left: 10px">
    <h6>{{ obj.name }}</h6>
    {% for stat in obj.subset %}
        {% ifchanged stat %}
            <h5>{% css_icon "warning-sign" %} <a href="{%  url "objects:detail" stat.hardwareobject.id %}">{{ stat.hardwareobject.name }}</a>&nbsp;<small>{{ stat.time|naturaltime }}</small></h5>
        {% endifchanged %}
        <div style="margin-left: 20px">
        {% for err in stat.not_ok %}
            {% iloled err.label err.value %}
        {% endfor %}
        <p>&nbsp;</p>
        </div>
    {% empty %}
        <h5>Tutto regolare</h5>
    {% endfor %}
    </div>
{% endfor %}