{% load hpilo_tags %}
{% load itmemory_tags %}
{% load humanize %}

{% for obj in objs %}
    {% for stat in obj.subset %}
        <div class="col-lg-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    {% css_icon "warning-sign" %} {{ obj.notifygroup }}
                </div>
                <div class="panel-body">
                    <p>
                    {{ stat.hardwareobject.name }}
                    {% for err in stat.not_ok %}
                        {% iloled err.label err.value %}
                    {% endfor %}
                    <small class="pull-right text-muted">
                        <i class="fa fa-clock-o fa-fw"></i>
                        {{ stat.time|naturaltime }}
                    </small>
                    </p>
                </div>
                <div class="panel-footer">
                    <a href="{%  url "objects:detail" stat.hardwareobject.id %}">Dettagli...</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
