{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Lista Hardware{% endblock title %}
{% block body_contents %}
<div class="row">
    <div class="col-md-12 round-box bg-info">
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-md-4 text-center">
                Nome prodotto: <input type="text" name="obj_name" value="{{ request.POST.obj_name }}"/>
            </div>
            <div class="col-md-3 text-center">
                Seriale: <input type="text" name="obj_serial" value="{{ request.POST.obj_serial }}"/>
            </div>
            <div class="col-md-3 text-center">
                Cliente: <input type="text" name="cust_name" value="{{ request.POST.cust_name }}"/>
            </div>
            <div class="col-md-2 text-right">
                <input type="submit" value="Cerca">
            </div>
    </div>
        </form>
    </div>
<p></p>
    {% for obj in object_list %}
    <div class="col-md-4 round-box">
        <h2>{{ obj.name }}</h2>

        <p>{{ obj.worksite.fulltext|linebreaksbr }}</p>
        <p>{{ obj.serial }}</p>

        <p><a class="btn btn-default" href="{% url 'objects:detail' obj.id %}" role="button">Apri »</a></p>
    </div>
{% empty %}
<div class="col-md-4 round-box">
    <p>Nessun Oggetto</p>
</div>
    {% endfor %}
</div>
{% endblock body_contents %}


