{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Lista Hardware{% endblock title %}
{% block body_contents %}
{% if objects_list %}
<div class="row">
    <div class="col-md-12 round-box">
        <p>

        <form action="" method="post">
            {% csrf_token %}
            Nome prodotto: <input type="text" name="obj_name" value="{{ request.POST.obj_name }}"/>
            Seriale: <input type="text" name="obj_serial" value="{{ request.POST.obj_serial }}"/>
            Cliente: <input type="text" name="cust_name" value="{{ request.POST.cust_name }}"/>
            <input type="submit" value="Cerca">
        </form>
        </p>
    </div>
    {% for obj in object_list %}
    <div class="col-md-4 round-box">
        <h2>{{ obj.name }}</h2>

        <p>{{ obj.worksite.fulltext|linebreaksbr }}</p>
        <p>{{ obj.serial }}</p>

        <p><a class="btn btn-default" href="{% url 'objects:detail' obj.id %}" role="button">Apri »</a></p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Nessun Oggetto</p>
{% endif %}
{% endblock body_contents %}


