{% extends 'objects/index.html' %}
{% from objects.models import Setting %]
{% load staticfiles %}
{% load objects_tags %}

{% block custom_page_scripts %}
<script src="{% static 'objects-detail.js' %}"></script>
<script>
    pwd_req_url = '{% url 'objects:getpassword' 0 %}'
    csrfmiddlewaretoken = '{{ csrf_token }}'

</script>
{% endblock custom_page_scripts %}

{% block body_contents %}
<div class="row">
    <div class="row col-lg-9">
        <div class="col-lg-12 text-center">
            <h4>Dati di accesso</h4>
        </div>
        {% regroup obj.softwarepasswords.all by settingtype.group as password_list %}
        {% for setitem in password_list %}
        <div class="col-lg-6 round-box">
            <h4>{{ setitem.grouper }}</h4>
            {% for val in setitem.list %}
            <p>
                <small><a href="{{ val.url }}" target="_blank">{{ val.url }}</a></small>
                <br>
                <strong>{{ val.username }}</strong>&nbsp;&nbsp;&nbsp;
                <button type="button" data-target="pwd-{{ val.id }}" data-id="{{ val.id }}"
                        class="btn btn-danger btn-xs btn-password">
                    {% include "icon.html" with iconname='eye-close' %} Vedi password
                </button>
                <input class="form-control" type="text" data-viewtimeout="15" value="" id="pwd-{{ val.id }}"
                       style="display:none;" readonly="1"><span></span>
                &nbsp;&nbsp;&nbsp;
            </p>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="col-lg-12 text-center">
            <h4>Impostazioni</h4>
        </div>
        {% regroup obj.settings.all by type.group as setting_list %}
        {% for setitem in setting_list %}
        <div class="col-lg-6 round-box">
            <h4>{{ setitem.grouper }}</h4>
            {% for val in setitem.list %}
            <p><strong>{{ val.type.name }}</strong>
            <pre>{{ val.value }}</pre>
            </p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="row col-lg-3 round-box">
        <div class="col-lg-12 round-box coll_box">
            <h4>{{ obj.name }}</h4>

            <div>
                {% if obj.image %}
                <img src="{{ obj.image.url }}" alt="{{ obj.name }}" class="img-thumbnail">
                {% endif %}
                <p>
                    <strong>S/N:</strong> {{ obj.serial }}<br/>
                    <strong>P/N:</strong> {{ obj.item }}<br/>
                    <strong>IP:</strong> {{ obj.primary_ip }}
                </p>
            </div>
        </div>
        <div class="col-lg-12 round-box coll_box">
            <h4>{{ obj.worksite.customer.name }}</h4>

            <p>
                {{ obj.worksite.fulltext|linebreaksbr }}
                {{ obj.location }}
            </p>
        </div>

        <div class="col-lg-12 round-box">
            <h4>Attività</h4>

            <div class="bg-info" style="min-height:450px;">
                {% toactivatetask obj %}
                <h5>Da eseguire</h5>
                {% include "ittasks/tasklist.html" with tasks_toread=openedtasks %}
                <hr/>
                <h4>Eseguite</h4>
                {% include "ittasks/tasklist.html" with tasks_toread=closedtasks %}
            </div>
        </div>
    </div>

</div>
{% endblock body_contents %}