{% extends 'base.html' %}
{% load staticfiles %}
{% load itmemory_tags %}
{% block title %}Lista Hardware{% endblock title %}
{% block body_contents %}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="panel panel-info">
            <div class="panel-heading">
                <form action="" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="obj_name">Nome prodotto</label>
                        <input placeholder="Oggetto" class="form-control"
                               id="obj_name" type="text" name="obj_name" value="{{ request.POST.obj_name }}"/>
                        <label class="sr-only" for="obj_serial">Seriale</label>
                        <input placeholder="Seriale" class="form-control"
                               type="text" id="obj_serial" name="obj_serial" value="{{ request.POST.obj_serial }}"/>
                        <label class="sr-only" for="cust_name">Cliente</label>
                        <input placeholder="Cliente o sede" class="form-control"
                               id="cust_name" type="text" name="cust_name" value="{{ request.POST.cust_name }}"/>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Cerca">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-condensed">
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td scope="row">
                <a class="btn btn-default" href="{% url 'objects:detail' obj.id %}" role="button">Apri</a>
            </td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.worksite|linebreaksbr }}</td>
            <td>{{ obj.serial }}</td>
            <td>

                {% if obj.tasks.count %}{% css_icon 'calendar' %}{{ obj.tasks.count }}
                {% if obj.taskstodo.count %}
                <span class="label label-danger">{% css_icon 'fire' %}{{ obj.taskstodo.count }}</span>
                {% endif %}
                {% endif %}
                {% if obj.settings.count %}{% css_icon 'cog' %}{{ obj.settings.count }}{% endif %}
                {% if obj.softwarepasswords.count %}{% css_icon 'lock' %}{{ obj.softwarepasswords.count }}{% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>
                <p>Nessun Oggetto</p>
            </td>
        </tr>
    {% endfor %}
                    <tr>
                <td colspan="5" class="text-right">
                    {% if is_paginated %}
        <ul class="pagination pagination-centered">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">{% css_icon "chevron-left" %}</a></li>
            {% endif %}

            {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">{% css_icon "chevron-right" %}</a></li>
            {% endif %}
        </ul>
    {% endif %}
                </td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock body_contents %}


