{% load itmemory_tags %}
<div>
    {% if group_logs %}
        <div>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="{% if active_filter == -1 %}active{% endif %}">
                    <a class="btn" href=".#panel_logs">Tutti</a>
                </li>
                {% for slog in group_logs %}
                <li role="presentation" class="{% if slog.active %}active{% endif %}">
                    <a class="btn" href="?filter_log={{ slog.id }}#panel_logs">{{ slog.name }} <span class="badge">{{ slog.count }}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Level</th>
        <th>Time</th>
        <th>Log</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
    <tr>
        <td>
            {% css_icon log.level_icon %} {{ log.get_level_display }}
        </td>
        <td>
            {{ log.time }}
        </td>
        <td>
            {{ log.log_name }}
        </td>
        <td>
            <span title="{{ log.message }}">{{ log.short_message }}</span>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>