{% extends 'base_popup.html' %}
{% load staticfiles %}
{% load objects_tags %}
{% load itmemory_tags %}

{% block body_contents %}
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    {{ form.hardwareobject.as_hidden }}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Salva">
</form>
<script>
    $(function() {
        $("input,select,textarea").addClass("form-control");
        $("#modalFormTitle").text("Aggiungi/Modifica");
    });

</script>
{% endblock body_contents %}