{% load humanize %}
{% load itmemory_tags %}
    {% for taskop in tasks_toread %}
<p style="border-bottom: solid 1px #DDDDDD; padding-bottom: 2px;padding-top: 2px; margin-bottom: 5px;">
    {% if taskop.to_past %}
    {% css_icon 'fire' %}
    {% endif %}
    <a class="btn btn-xs btn-info" href="{% url 'ittasks:detail' taskop.id %}">{{ taskop.template.name|truncatechars:20 }}</a>
    <small class="text-muted pull-right">
        <span title="{{ taskop.laststart }}">
            &nbsp;{% css_icon 'calendar' %} {{ taskop.laststart|naturaltime }}
        </span>
    </small>
    <br/>
    {% if taskop.user %}
    <span title="{{ taskop.hardwareobject.worksite }}" >
        <strong>
        {{ taskop.hardwareobject.worksite|truncatechars:22 }}
        </strong>
    </span>
    &nbsp;
    <span title="{{ taskop.hardwareobject.name }}">
        {{ taskop.hardwareobject.name|truncatechars:13 }}
    </span>
    <small class="text-muted pull-right">
        &nbsp;{% css_icon 'user' %} {{ taskop.user }}
    </small>
    {% else %}
    <span title="{{ taskop.hardwareobject.worksite }}" >
        <strong>
        {{ taskop.hardwareobject.worksite|truncatechars:33 }}
        </strong>
    </span>
    &nbsp;
    <span title="{{ taskop.hardwareobject.name }}">
        {{ taskop.hardwareobject.name|truncatechars:22 }}
    </span>
    {% endif %}
</p>
    {% endfor %}
<p>&nbsp;</p>
