{% load humanize %}
{{ now }}
    {% for taskop in tasks_toread %}
<p>{% if taskop.to_past %}
    {% include "icon.html" with iconname='fire' %}
    {% endif %}
    <a href="{% url 'ittasks:detail' taskop.id %}">{{ taskop.template.name }}</a><br/>
    {{ taskop.hardwareobject.name }}<br/>
    <small class="text-muted">
        <span title="{{ taskop.laststart }}">
            {% include "icon.html" with iconname='calendar' %}
            {{ taskop.laststart|naturaltime }}
        </span>
        {% if taskop.user %}{% include "icon.html" with iconname='user' %} {{ taskop.user }} {% endif %}
    </small>

</p>
    {% endfor %}
