{% load humanize %}
{% load itmemory_tags %}
    {% for taskop in tasks_toread %}
<p style="border-bottom: solid 1px #DDDDDD; padding-bottom: 2px;padding-top: 2px; margin-bottom: 5px;">
    {% if taskop.to_past %}
    {% css_icon 'fire' %}
    {% endif %}
    <a href="{% url 'ittasks:detail' taskop.id %}">{{ taskop.template.name }}</a>
    <small class="text-muted pull-right">
        <span title="{{ taskop.laststart }}">
            &nbsp;{% css_icon 'calendar' %} {{ taskop.laststart|naturaltime }}
        </span>
    </small>
    <br/>
    {{ taskop.hardwareobject.name }}
    {% if taskop.user %}
    <small class="text-muted pull-right">
        &nbsp;{% css_icon 'user' %} {{ taskop.user }}
    </small>
    {% endif %}
</p>
    {% endfor %}
<p>&nbsp;</p>
