
pre {
    margin-right: 11px;
}

.day {
    padding: 6px;
}

.info {
    font-size: 10px;
}

.calendar_day {
    vertical-align: top;
    padding: 0px !important;
}

.calendar_now {
    background-color: lightblue;
}

.overmonth {
    opacity: 0.3;
}

.calendar_day > .day {
    text-align: center;
    font-size: 15px;
    margin: 0px;
}

.calendar_day > .info {
    height: 80px;
    float: right;
    margin-right: 7px;
    width: 90%;
    font-size: 70%;
    overflow: auto;
}

.cal_w_task {
    position: absolute;
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 10px solid #FFBF00;
    border-right: 10px solid transparent;
}

.cal_w_p_task {
    position: absolute;
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 10px solid #007fff;
    border-right: 10px solid transparent;
}


.calendar_week {

}

.panel-hover > .panel-body {
    max-height: 0;
    transition: max-height 0.4s ease-in 1s,padding 0.4s ease-out 1s ;
    overflow: hidden;
    padding: 0;
}
.panel-hover > .panel-heading {
    font-size: 122%;
}
.panel-hover > .panel-heading:hover+.panel-body, .panel-hover > .panel-body:hover {
    max-height: 500px;
    transition: max-height 0.5s ease-out 0.25s,padding 0.5s ease-out 0.25s ;
    padding: 15px;
}
