body {
    padding-top: 70px;
}
.navbar {
    background-color: #DDDDDD;
}
.bg-primary, .bg-warning, .bg-info, .bg-danger {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}
pre {
    margin-right: 11px;
}

.calendar_day {
    vertical-align: top;
}

.overmonth {
    opacity: 0.3;
}

.calendar_day > h1 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    opacity: 0.6;
    float: left;
}

.calendar_day > div {
    height: 90px;
    float: right;
    margin-right: 7px;
    width: 95px;
    font-size: 70%;
}



.calendar_week {

}

.round-box {

}

.round-box > .input-group {
    padding: 0 15px 0px 15px;
}

.round-box > h1,
.round-box > h2,
.round-box > h3,
.round-box > h4 {

    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #9999FF;
    background-color: #9999FF;
    border-radius: 5px;
    color: #FFFFFF
}

.round-box > h5,
.round-box > h6 {
    margin: 0 0 10px 10px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #9999FF;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #999999;
}

.round-box > p {
    margin: 0 10px 0 10px;
    padding-bottom: 10px;
}



.btnyesno {
    list-style-type: none;
}

.btnyesno > li {
    list-style-type: none;
}

