body {
    padding-top: 70px;
}
.navbar {
    background-color: #efefef;
}

.alert > h1 {
    font-size: 40px;
    margin: 0px;
}

.bg-primary, .bg-warning, .bg-info, .bg-danger {
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

pre {
    margin-right: 11px;
}

.calendar_day {
    vertical-align: top;
}

.calendar_now {
    background-color: lightblue;
}

.overmonth {
    opacity: 0.3;
}

.calendar_day > h1 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    opacity: 0.6;
    float: left;
}

.calendar_day > div {
    height: 80px;
    float: right;
    margin-right: 7px;
    width: 90%;
    font-size: 70%;
    overflow: auto;
}

.calendar_week {

}

.round-box {

}

.round-box > .input-group {
    padding: 0 15px 0px 15px;
}

.round-box > h1,
.round-box > h2,
.round-box > h3,
.round-box > h4 {

    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #FF890A;
    background-color: #FF890A;
    border-radius: 5px;
    color: #FFFFFF
}

.setting-box > h1,
.setting-box > h2,
.setting-box > h3,
.setting-box > h4 {
    border: 1px solid #CC0000;
    background-color: #FF6347;
}

.password-box > h1,
.password-box > h2,
.password-box > h3,
.password-box > h4 {
    border: 1px solid #228b22;
    background-color: #00CC99;
}

.info-box > h1,
.info-box > h2,
.info-box > h3,
.info-box > h4 {
    border: 1px solid #FF00FF;
    background-color: #F984E5;
}


.round-box > h5,
.round-box > h6 {
    margin: 0 0 10px 10px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #FF890A;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #999999;
}

.round-box > p {
    margin: 0 10px 0 10px;
    padding-bottom: 10px;
}



.btnyesno {
    list-style-type: none;
}

.btnyesno > li {
    list-style-type: none;
}

