{% load itmemory_tags %}
<div id="calendar">
    <table class="table table-bordered" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td colspan="1">
                <a class="pull-left ajax_calendar" href="javascript:void(0)"
                   onclick="$('#calendar').load('{% url 'ittasks:calendar' start_day.month start_day.year %}')"
                   >{% css_icon "chevron-left" %}
                </a>
            </td>
            <td colspan="5" class="text-center">
                {{ month_name }}
            </td>
            <td colspan="1">
                <a class="pull-right ajax_calendar" href="javascript:void(0)"
                   onclick="javascript:$('#calendar').load('{% url 'ittasks:calendar' end_day.month end_day.year %}')"
                   >
                    {% css_icon "chevron-right" %}
                </a>
            </td>
        </tr>
        <tr>
            <th width="15%">Lun</th>
            <th width="14%">Mar</th>
            <th width="14%">Mer</th>
            <th width="14%">Gio</th>
            <th width="14%">Ven</th>
            <th width="14%">Sab</th>
            <th width="15%">Dom</th>
        </tr>
        </thead>
        <tbody>
            {% for day in dates %}
            {% if day.date.weekday == 0 %}<tr class="calendar_week">{% endif %}
            <td class="calendar_day{% if day.overmonth %} overmonth{% endif %}{% if day.date == now.date %} calendar_now{% endif %}">
                {% if day.events %}
                <div class="cal_w_task"></div>
                <div class="day">
                    <a href="javascript:false" role="button" data-toggle="popover" data-trigger="focus" title="Eventi">{{ day.date.day }}</a>
                </div>
                {% else %}
                <div class="day">
                    {{ day.date.day }}
                </div>
                {% endif %}
                <div style="display: none">
                    {% for task in day.events %}
                    <p class="info">
                        {% if task.done %}{% css_icon "ok" %}{% endif %}
                        <a href="{% url 'ittasks:detail' task.id %}">
                        {{ task }}
                        </a>
                    </p>
                    {% endfor %}
                </div>
            </td>
            {% if day.date.weekday == 6 %}</tr>{% endif %}
            {% endfor %}
        <tr>
            <td colspan="1">
                <a class="pull-left ajax_calendar" href="javascript:void(0)"
                   onclick="$('#calendar').load('{% url 'ittasks:calendar' start_day.month start_day.year %}')"
                   >{% css_icon "chevron-left" %}
                </a>
            </td>
            <td colspan="5" class="text-center">
                {{ month_name }}
            </td>
            <td colspan="1">
                <a class="pull-right ajax_calendar" href="javascript:void(0)"
                   onclick="javascript:$('#calendar').load('{% url 'ittasks:calendar' end_day.month end_day.year %}')"
                   >
                    {% css_icon "chevron-right" %}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script language="JavaScript">
    if (typeof loadpopover == 'function'){
      loadpopover()
    }
</script>