{% extends 'base.html' %}

{% block body_contents %}
<div class="row">
    <div class="col-md-4">
        <h2>Test</h2>

        <p>Test</p>

    </div>
    <div class="col-md-4">
        <h2>Test</h2>

        <p>Test</p>

    </div>
    <div class="col-md-4">
        <h2>Test</h2>

        <p>Test</p>

    </div>
    <div class="col-md-4">
        <h2>Test</h2>

        <p>Test</p>

    </div>
    <div class="col-md-4">
        <h2>Test</h2>

        <p>Test</p>

    </div>
    <div class="col-md-4">
        <h2>Test</h2>

        <p>Test</p>

    </div>
    <div class="col-md-4">
        <h2>Test</h2>

        <p>Test</p>

    </div>
</div>
{% endblock body_contents %}